<!DOCTYPE html>
<html>
<head>
  <title>Barbara Dąbek Fotografia | <%= yield(:title) %></title>
  <%= stylesheet_link_tag("bootstrap") %>
  <%= stylesheet_link_tag("bootstrap-responsive") %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
   	<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" <%= link_to "Fotografia Barbara Dąbek", root_path %></a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="<%= "active" if @current_page == "/home" %>"><%= link_to "Home", root_path %></li>
              <li class="<%= "active" if @current_page == "/portfolio" %>"><%= link_to "Portfolio", portfolio_path %></li>
              <li class="<%= "active" if @current_page == "/offer" %>"><%= link_to "Oferta", offer_path %></li>
              <li class="<%= "active" if @current_page == "/about" %>"><%= link_to "O mnie", about_path %></li>
              <li class="<%= "active" if @current_page == "/contact" %>"><%= link_to "Kontakt", new_contact_form_path %></li>
            </ul> 
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

<%= yield %>

</body>
</html>
